<div class = "header">
    <div>
        <a href="/">
            <img class="logo"src={{logo}} alt="logo" /> 
        </a>
    </div>
    <div class="header-options">
        {{#if avatarImage}}
            <img src="./uploads/{{avatarImage}}" alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20"/>
        {{else}}
            <img src="avatar.jpg" alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20"/>
        {{/if}}
        <div id="nombreUsuario" data-userid="{{userId}}" class="margin-right-20 name-user">{{nameInput}}</div>
        <div class="margin-right-35">
            <a href="#" data-toggle="modal" data-target="#modalForm" class="fa fa-cog fa-spin fa-2x fa-fw" title="Editar Perfil"></a>
        </div>
        <a id="logout" href="/logout"><i class="fa fa-sign-out fa-2x" title="Salir"></i></a>
    </div>
</div>
<div class="main">
    <div class="margins-container">
        <div class="text-lista">Lista de Salas</div>
        <div class="crear-sala">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#crearSala" data-whatever="@mdo">Crear Sala</button>
        </div>
        <div class="md-form mt-0 buscar">
            <input id="inputSearchRooms" onkeyup="searchFunction()" class="form-control" type="text" placeholder="Busca por sala..." aria-label="Search">
        </div>
    </div>
    <div class="margins-container">
        <div class="list-container">
            <ul id="myUL" class="ul-margins">
                {{#each roomsUser}}
                    <li class="item-name cursor-pointer">
                        <a method="GET" href="/salaDeChat?id={{_id}}" class="a-element-link-item">{{this.nombreDeLaSala}}</a>
                         {{#if this.isPublicRoom}}
                            <span class="badge badge-primary margin-right-35">Sala publica</span>
                        {{else}}
                            <span class="badge badge-secondary margin-right-35">Sala privada</span>
                        {{/if}}
                        <form action="/room/delete/{{_id}}?_method=DELETE" method="POST" class="margin-right-20">
                            <button type="submit" class="btn btn-danger btn-block btn-sm">
                                <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<!-- MODALS -->

<!-- Modal para editar usuario -->
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Datos de tu cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/salaListaDeSalasUpdateUser">
                <input type="hidden" name="idDeLaSala" value="{{idDeLaSala}}"/>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                        <input value="{{nameInput}}" type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input value="{{emailInput}}" type="email" class="form-control" id="emailInput" name="emailInput" placeholder="email">
                    </div>
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success submitBtn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para añadir una sala -->
<div class="modal fade" id="crearSala" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear una Sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/listaDeSalas">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre de la Sala</label>
                        <input type="text" class="form-control" id="nombreDeLaSala" name="nombreDeLaSala">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioButtonPublicRoom" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Sala pública
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioButtonPublicRoom" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Sala privada
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        user = document.getElementById('nombreUsuario');
        userId = user.dataset.userid;
        userName = user.innerText;
        localStorage.setItem('user-id', userId);
        localStorage.setItem('user-name', userName);
    });
    $("#logout").click(function(){
        localStorage.clear();
    });

    localStorage.setItem('user-id', userId);
    localStorage.setItem('user-name', userName);
    function searchFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('inputSearchRooms');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>