<div class="logo-div">
    <img src={{logo}} alt="logo" /> 
</div>

<div class="container">
    <div class="row margin-top-30">
        <div class="col-sm usuario-registrado">
            <form method="POST" action="/registrarUsuario">
                <div class="margin-top-30">
                    <div class="row justify-concent-center">
                        <div class="col-sm-10">
                            <input value="{{nameInput}}" type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="row justify-concent-center margin-top-15">
                        <div class="col-sm-10">
                            <input value="{{emailInput}}" type="email" class="form-control" id="emailInput" name="emailInput" placeholder="email">
                        </div>
                    </div>
                    <div class="row justify-concent-center margin-top-15">
                        <div class="col-sm-10">
                            <input value="{{passwordInput}}" type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="password">
                        </div>
                    </div>
                    <div class="row justify-concent-center margin-top-15">
                        <div class="col-sm-10">
                            <input value="{{confirmpasswordInput}}" type="password" class="form-control" id="passwordInput" name="confirmpasswordInput" placeholder="confirmar password">
                        </div>
                    </div>
                    </div>
                    <div class="button-enter">
                        <button type="submit" class="btn btn-light">Registrarse</input>
                    </div>
                    <div class="separation"></div>
                    <div class="button-enter">
                        <a href="/" type="button" class="btn btn-dark">Cancelar</a>
                    </div>
                </div>
            </form>  
        </div>
    </div>
</div>