<div class = "header">
    <div class="center-image">
        <a href="/">
            <img class="logo"src="/logo.png" alt="logo" />
        </a>
    </div>
</div>

<div class="main">
    <div class="header-right">
        <div class="margins-container">
            <div class="room-name">Sala: {{activeRoom}}</div>
            {{#if avatarImage}}
                <img src="./uploads/{{avatarImage}}" alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20"/>
            {{else}}
                <img src="avatar.jpg" alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20"/>
            {{/if}}
            <div id="nombreUsuario"class="crear-sala margin-right-20 name-user">{{nameInput}}</div>
            <div class="crear-sala margin-right-35">
                <a href="#" data-toggle="modal" data-target="#modalForm" class="fa fa-cog fa-spin fa-2x fa-fw" title="Editar Perfil"></a>
            </div>
            <a href="/logout"><i class="fa fa-sign-out fa-2x margin-right-20" title="Salir"></i></a>
        </div>
    </div>
    <div class="sub-header-right">
        <div class="margins-container justify-content-space-around">
            <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Amigos</a>
            </div>
            <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Conectados</a>
            </div>
             <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Todos</a>
            </div>
            <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Pendiente</a>
            </div>
             <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Bloqueado</a>
            </div>
            <div class="crear-sala">
                <button type="button" data-toggle="modal" data-target="#addFriendModal" class="btn btn-light">Añadir amigo </button>
            </div>
             <div class="crear-sala">
                <a href="#" type="button" class="btn btn-light">Crear grupo</a>
            </div>
        </div>
    </div>
    <div class="display-flex">
        <div class="friends-list">
                <div class="pink-title">
                    <div class="title">Listado de salas privadas</div>
                </div>
                <div class="menu-header">
                    <ul class="ul-margins">
                        {{#each arrayPrivateRooms}}
                            <li class="item-name cursor-pointer">
                                <a href="/salaDeChat" class="a-element-link-item">{{this.namePrivateRoom}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
        </div>
        <div class="text-area-chat">
            <div class="text-area"></div>
        </div>
        <div class="rooms-list">
              <div class="pink-title">
                    <div class="title">Listado de salas públicas</div>
                </div>
                <div class="menu-header">
                    <ul class="ul-margins">
                        {{#each arrayPublicRooms}}
                            <li class="item-name cursor-pointer">
                                <a href="/salaDeChat" class="a-element-link-item">{{this.namePublicRoom}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
        </div>
    </div>
</div>
<div class="footer"></div>

<!-- MODALS -->

<!-- Modal para editar usuario -->
<div class="modal fade" id="modalForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Datos de tu cuenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/salaDeChatUpdateUser">
                <input type="hidden" name="idDeLaSala" value="{{idDeLaSala}}"/>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p class="statusMsg"></p>
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                         <input value="{{nameInput}}" type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input value="{{emailInput}}" type="email" class="form-control" id="emailInput" name="emailInput" placeholder="email">
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success submitBtn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para agregar amigo -->

<div class="modal fade" id="addFriendModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Añadir a un amigo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul class="list-group">
                {{#each allUsers}}
                    <li class="list-group-item">
                        <div class="display-flex">
                            <div>{{this.nameInput}}</div>
                            <div class="div-icon-add-friend"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
